.home-info .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  img {
    border-radius: 5%;
  }
}

@media screen and (max-width: 768px) {
  .home-info .container {
    display: block;
  }
}

